body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  text-shadow: 0.5px 0.5px #7D7A74;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* search bar */

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: auto auto;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .25em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: rgba(227,158,84);
  box-shadow: 0 0 0 transparent;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: rgba(227,158,84);
  border: 2px solid rgba(227,158,84);
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
  background-color: rgba(227,158,84);
}

.geosuggest__item--active {
  background: #3d464d;
  color: #fff;
}

.geosuggest__item__matched-text {
  font-weight: bold;
}

/* body */

#skycon {
  width: 150px;
  height: 130px;
  position: relative;
  align-content: center;
  margin-bottom: 0;
}

.card {
  background: linear-gradient(rgba(227,158,84,0.7),rgba(227,158,84,0.7));
  border-color: rgba(251,229,208);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;
  margin: 0 auto;
}

.bar {
  background-color: rgba(227,158,84,0.4);
  height: 75px;
}

.bg-overlay {
  background: linear-gradient(rgba(227,158,84, 0.5),rgba(227,158,84,0.5)), url('https://images.unsplash.com/photo-1519154244897-75c1178f5790?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=caf466dab387b7eef0e5e328af0e75cd&auto=format&fit=crop&w=1050&q=80');
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100vh;
  top: 0;
}

#search-bar {
  margin-top: 15px;
}

#weather-results {
  margin-top: 200px;
  padding: 5px;
}

#city-day {
  padding-bottom: 15px;
}

#current-weather h1 {
  padding-bottom: 0;
  font-size: 5em;
}

#current-weather p {
  line-height: 0.5;
}

#summary {
  margin-bottom: 0;
}